body {
  margin: 0px !important;
  height: 100vh;
}
.ppt_main_body {
  display: flex;
  height: 100%;
}

.ppt_main_body_slide {
  width: 80%;
  background-color: grey;
  border: 1px solid black;
  border-radius: 2px;
  overflow: auto;
}
.ppt_main_body_slide_thumbnail {
  width: 20%;
  background-color: #e7e5e5;
  overflow-y: auto;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 2px;
}
